<template>
  <div id="app">   

    <!-- <div id="console">
        <span><strong style="color: red">Console de teste: </strong></span>
        <p v-for="curso in cursos" v-bind:key="curso">
            <strong>Curso: </strong>{{curso.nome}}<br>
        </p>
    </div> -->
    
 <!-- Abaixo o código funcional e acima o console -->

    <h1>Cursos da UFRJ</h1>

    <h3>Filtrar por: </h3>

    <div id="filtro">

        <p>Local: </p>
        <select v-model="filtro.selecionado" name="cursos" id="">
            <option v-for="curso in cursos" v-bind:key="curso" value="">
                {{curso.local}}
            </option>
        </select> 

        <p>Código: </p>
        <select name="cursos" id="">
            <option v-for="curso in cursos" v-bind:key="curso" value="">
                {{curso.cod}}
            </option>
        </select> 

    </div>

    <div id="lista">

        <div class="coluna" id="curso">
            <h2>Curso</h2>
            <div v-for="curso in cursos" v-bind:key="curso" class="lista">
                <p>{{curso.nome}}</p>
            </div>
        </div>
        <div class="coluna" id="cod">
            <h2>Código</h2>
            <div v-for="curso in cursos" v-bind:key="curso" class="lista">
                <p>{{curso.cod}}</p>
            </div>
        </div>
        <div class="coluna" id="local">
            <h2>Local</h2>
            <div v-for="curso in cursos" v-bind:key="curso" class="lista">
                <p>{{curso.local}}</p>
            </div>
        </div>

    </div>
    
  </div>
</template>

<script>

export default {
  name: 'App',
  methods: {
    //   listaCursos() {
    //     var curso = cursos.nomeCod.nome
    //     return curso
    //   }
  },
  components: {},
  data(){
    return {
        filtro: {
            selecionado: ''
        },
        cursos: [
            { 
                nome: "Engenharia Civil", 
                cod: "ENG",
                local: "CT"
            },
            { 
                nome: "Engenharia de Computação", 
                cod: "ENG",
                local: "CT"
            },
            { 
                nome: "Literatura", 
                cod: "LTR",
                local: "Letras"
            }, 
            { 
                nome: "Medicina", 
                cod: "MED",
                local: "CCS"
            }
        ]
    }
  }

}
</script>



<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#filtro {
    display: flex;
    justify-content: center;
    height: 100px;
}

select {
    margin: 0px 50px 0px 10px;
    height: 50px;
}

#lista {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coluna {
    width: 150px;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 40px;
    border: 1px solid #ccc;
}
</style>
